<html>
<head>
        <meta charset="UTF-8">

<style>

</style>
<link rel="stylesheet" href="css/css.css">
<link rel="stylesheet" href="css/carrito.css">
</head>
<body>
    <header>
        <nav id="menu">
            <ul>
                <li><a href=”#”>Subscripción Premium</a></li>
                <li><a href=”#”>Ofertas Semanales</a></li>
				<li id="ini"><a href=login.html>Iniciar Sesión</a></li>
                <li><a href=cadastro.html>Cadastrarse</a></li>
				<form action="" class="search">
	<input id="submit" value="" type="submit">
	<label for="submit" class="submit"></label>
	
	
	<a href="javascript: void(0)" class="icon"></a>
	<input type="search" name="Search" id="search" placeholder="Search">
</form>
			</ul>
        </nav>
    </header>
            
    
    <div class="checkout__body">

    <div class="checkout__header">Su carrito</div>

  <div class="universal-cart-engine">
    <div class="cart ">
    <div class="cart__cart-register-container cart__cart-register--has-items">
<div id="ember4543" class="cart-register ember-view">        <div class="cart-register__primary-info">
          <div class="cart-register__line-item-container">
            <div id="ember4544" class="cart-register-line-item ember-view">  <label for="sub-total" id="ember4545" class="cart-register-line-item__label ember-view">Subtotal:
</label>
  <div name="sub-total" id="ember4546" class="cart-register-line-item__value uce__force-ltr ember-view">US$71.99
</div>
</div>
              <div id="ember4547" class="cart-register-line-item ember-view">  <label for="discount" id="ember4548" class="cart-register-line-item__label ember-view">Descuento:
</label>
  <div name="discount" id="ember4549" class="cart-register-line-item__value uce__force-ltr ember-view">-US$28.80
</div>
</div>
              <div id="ember4550" class="cart-register-line-item ember-view">  <label for="new-total" id="ember4551" class="cart-register-line-item__label ember-view">Nuevo total:
</label>
  <div name="new-total" id="ember4552" class="cart-register-line-item__value uce__force-ltr ember-view">US$43.19
</div>
</div>
          </div>
          <hr id="ember4553" class="cart-register__divider ember-view">
<button name="proceed-to-checkout" id="ember4554" class="cart-register__button-wrapper cart-register__button uce__button cart__button ember-view">Pasar a finalizar la compra</button>        </div>
        <div class="cart-register__secondary-info">
          <button name="continue-shopping" id="ember4555" class="cart-register__button-wrapper cart-register__button uce__button cart__button ember-view">Continuar comprando</button>
<div id="ember4564" class="coupon-section ember-view"><hr id="ember4565" class="cart-register__divider ember-view">
  <div class="coupon-section__header" data-ember-action="" data-ember-action-4572="4572">
    <div class="coupon-section__entry-title">
        Introduce el código de descuento de 10 dígitos
    </div>
    <div class="coupon-section__arrow "></div>
  </div>
  <div class="coupon-section__entry ">
    <input type="text" placeholder="Introduce el código de descuento de 10 dígitos" id="ember4579" class="coupon-section__input ember-text-field ember-view">
    <button name="apply-discount" id="ember4584" class="cart-register__button-wrapper cart-register__button uce__button cart__button disabled ember-view">Aplicar</button>
    <div class="coupon-section__error">
      
    </div>
  </div>
</div>        </div>

</div>      <div id="cart___up-sell-container"></div>
    </div>

    <div class="cart__cart-item-container">
<div id="ember4669" class="cart-item ember-view">          <div class="cart-item__details-wrapper">
            <div class="cart-item__thumbnail" data-ember-action="" data-ember-action-4670="4670">
              <div id="ember4671" class="cart-item-thumbnail ember-view"><img alt="Red Dead Redemption 2" class="cart-item-thumbnail__img cart-item-thumbnail__true-img" src="https://store.playstation.com/store/api/chihiro/00_09_000/container/UY/es/19/UP1004-CUSA03041_00-REDEMPTION000002/image?w=124&amp;h=124">
<img alt="Red Dead Redemption 2" class="cart-item-thumbnail__img cart-item-thumbnail__placeholder
  cart-item-thumbnail__game
  cart-item-thumbnail__hide
  cart-item-thumbnail__fade-out">
  <div class="cart-item-thumbnail-badge__sale">
    <span>AHORRA 40%</span>
  </div>
</div>
            </div>
            <div class="cart-item__details">
              <div class="cart-item__product-info">
                <div class="cart-item__primary-info">
                  <div class="cart-item__title">
                    <span class="cart-item__name" data-ember-action="" data-ember-action-4672="4672">
                      Red Dead Redemption 2
                    </span>
                    <div class="cart-item__meta">
                      <div id="ember4673" class="cart-item-meta ember-view">  <div class="cart-item-meta__auto-arrange cart-item-meta__content-types">
    Juego completo
  </div>
    <div class="cart-item-meta__auto-arrange cart-item-meta__separator">
      |
    </div>
  <div class="cart-item-meta__auto-arrange cart-item-meta__playable-platforms">
    PS4
  </div>
</div>
                    </div>
                  </div>
                  <div class="cart-item__price-section">
                    <div id="ember4674" class="cart-item-price ember-view">  <div class="cart-item-price__price cart-item-price__strikethrough">
    <span class="cart-item-price__strikethrough--price">US$71.99</span>
  </div>
<div class="cart-item-price__price">
  <span>US$43.19</span>
</div>
</div>
                  </div>
                </div>
              </div>
              <div class="cart-item__toolbar">
                <hr class="cart-item__toolbar-divider">
                <div id="ember4675" class="cart-item-toolbar ember-view"><div class="cart-item-toolbar__ps-plus-upsell">
</div>
<div class="cart-item-toolbar__buttons">
 
  <button name="removeItem" class="cart-item-toolbar__button uce__button  ">
    Eliminar
  </button>
</div>

</div>
              </div>
            </div>
          </div>
          <div id="ember4676" class="cart-item-info ember-view"><!----></div>

</div>    </div>
  </div>


</div>


</div>
    
    

    
    
    
        
    
    <footer>
	<section id="conta">
    <h3 id="footer_h">CONTA</h3>
    <p>Gerenciar conta</p>
	</section>
	<section id="legal">
	<h3 id="footer_h">LEGAL</h3>
	<p>Termos de serviço</p>
	<p>Licenças de código aberto</p>
	<p>Política de privacidade</p>
	<p>Avisos sobre saúde</p>
	<p>Entre em contato</p>
	<p>Mais ...</p>
	</section>
	<section id="contacto">
	<div class="snei-column-sen">  
		<ul class="snei-list">  
		<li> <a href="https://www.playstationnetwork.com/pt-br/about-us/" target="_blank">
		Sobre nós
		</a>
		</li>  
		<li> <a href="http://suporte.br.playstation.com/" target="_blank">Suporte</a> 
		</li>
		</ul>  
		<div class="snei-social">  
		<a href="#" title="Twitter"> 
		<img src="https://logosmarcas.com/wp-content/uploads/2018/05/Twitter-logo.png" width="15%" height="15%">
		
		</a>   
		<a href="#" title="Facebook"> 
		<img src="https://image.flaticon.com/icons/svg/733/733547.svg" width="15%" height="15%">
		</a> 
		<a href="#" title="YouTube" class="snei-social-youtube" target="_blank"> 
		<img src="https://logodownload.org/wp-content/uploads/2014/10/youtube-logo-8.png" width="30%" height="15%"></a>  </div>  </div>
	</section>
</footer>
<script type="text/javascript" src="js/funciones.js"></script>
</body>
</html>