<html>
    <head>
            <meta charset="UTF-8">
        <link rel="stylesheet" href="$this->assetcss/login.css">
    </head>
    <body>
        <header>
            <nav id="menu">
                <ul>
                    <li id="sla"><a href=index.html>Inicio</a></li>
                </ul>
            </nav>
        </header>
        <section id="bajaeso">
        <div class="container" >
            <a class="links" id="paralogin"></a>
            <div class="content">      
                <div id="login">
                    <form method="post" action="admin"> 
                    <h1>Login Administrador</h1> 
                    <p> 
                        <label for="login">Seu e-mail</label>
                        <input id="login" name="login" type="text" placeholder="ejemplo@gmail.com"/>
                    </p>
                    <p> 
                        <label for="senha">Sua senha</label>
                        <input id="senha" name="senha" type="password" placeholder="EJEMPLO" /> 
                    </p>
                    <p> 
                        <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
                        <label for="manterlogado">Manter-me logado</label>
                    </p>
                    <p> 
                        <input type="submit" value="Logar" /> 
                    
                    </p>
                    <p class="link">
                        Te equivocaste?
                        <a href=login.html>Volver</a>
                    </p>
                    </form>
                </div>
            </div> 
        </div>
        </section>
    </body>
</html>